@font-face {
    font-family:Vazir;
    src: url("font/Vazir.eot") format("eot"),
    url("font/Vazir.woff") format("woff"),
    url("font/Vazir.woff2") format("woff2");

   
}
*{
    padding: 0px;  
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
html{
 color:white ;
 background-color:black;
 font-family: Vazir;
}
#mamad{
text-align: center;
}

div p{
    color: blueviolet;
}